<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexis.sh2016">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Disciplinas" />
        <activity
            android:name=".Tabbed"
            android:label="SchoolHelp"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".ViewPagerExampleActivity" />
        <activity android:name=".CarregarSaldo" />
        <activity android:name=".Creditos" />
        <activity
            android:name=".Login"
            android:label="SchoolHelp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MinhasSenhas" />
        <activity android:name=".ViewPagerExampleActivityDois"></activity>
    </application>

</manifest>